<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <title>Title</title>
</head>
<body>
    <form action="{% url 'new_post'%}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="add_photo_block">{{form.image}}</div>
        <div id="new_title">{{form.title}}</div>
        <div id="new_text">{{form.text}}</div>
        <div id="time">{{form.time}}</div>

        <input type="submit" value="Submit"/>
    </form>
</body>
</html>