{% extends 'bases/base1.html' %}

{%block title%}News{%endblock%}

{% block plus %}
    <p id="plus" class="head_signs">
        <a href="javascript:PopUpShow3()" style="	text-decoration: none; color:black;">+</a>
    </p>
{% endblock %}

{% block main%}
    <div id = "main">

    <div class="content" id="new_challenge">
        <form action="{% url 'all_news'%}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="add_photo_block">{{form.image}}</div>
            <div id="new_title">{{form.title}}</div>
            <div id="new_text">{{form.text}}</div>
            <div id="time">{{form.time}}</div>

            <input type="submit" value="Submit"/>
        </form>
    </div>
        {%for post in posts%}
            <div class="content" id="{{post.id}}"> <!-- Блок новостей -->
                <img class="content_img" src="{{post.image.url}}" />
                <h1 class="content_h1">{{post.title}}</h1>
                <p class="content_text">{{post.text}}</p>

                <div class="owner_of_news">
                <a class="show_profile" href="javascript:showprofile('{{post.id}}')">
                    <img class="owner_of_news_img" src="{{post.author.profile_img.url}}"/>
                    <p class="owner_of_news_p">{{post.author.name}} {{post.author.surname}}</p>
                </a>
                </div>
                <a class="time_left" href="{% url 'like' post.id %}">{{post.time}} days left</a>
                {% for like in likes %}
                    {% if like in post.like_set.all  %}
                        <a class="time_left_liked" href="{% url 'unlike' post.id %}">{{post.time}} days left</a>
                    {% endif %}
                {% endfor %}
            </div> <!-- Блок новостей -->

            <div class="content profile_block" id="{{post.id}}_profile">
                <a class="exit_symbol" href="javascript:hideprofile('{{post.id}}')">X</a> <!-- Блок профиля в разделе новости -->
                <img class="profile_img" src="{{post.author.profile_img.url}}" />
                <h1 class="profile_h1">{{post.author.name}}</h1>
                <div class="profile_block_statistic">
                    <div class="flex_row">
                        <img src="https://image.freepik.com/free-icon/no-translate-detected_318-37158.jpg"/>
                        <img src="https://image.freepik.com/free-icon/no-translate-detected_318-52486.jpg"/>
                        <img src="https://image.freepik.com/free-icon/no-translate-detected_318-33583.jpg"/>
                    </div>
                    <div class="flex_row">
                        <div>{{post.author.stars}}</div>
                        <div>{{count}}</div>
                        <div>{{post.author.follow_him.count}}</div>
                    </div>
                </div>

                <a href="{% url 'dialog' post.author.id %}" class="news_profile_buttons">
                        Написать
                </a>
                <a href="" class="news_profile_buttons">
                        Показать профиль
                </a>

                <a href="{% url 'new_follow' post.author.id %}" class="news_profile_buttons">
                        Подписаться
                </a>
            </div>
        {% endfor %}
</div>
{% endblock %}

{%block navigation %}
<div id = "navigation">
    <a class="sections" href="{% url 'myfollows' %}"><p>Мои подписки</p></a>
	<a class="sections" href="{% url 'popular_news'%}"><p>Популярное</p></a>
	<a class="sections" href="{% url 'new_news'%}"><p>Новое</p></a>
</div>
{% endblock %}