<!DOCTYPE html>
{% load static %}
<html>
	<head>
        <link rel="stylesheet" type="text/css" href="static_files/style.css"/>
        <link rel="stylesheet" type="text/css" href="static_files/style.css"/>
        <link rel="stylesheet" type="text/css" href="static_files/style.css"/>
        <meta charset="utf-8">
		<link href="{% static 'style.css' %}?{% lorem 1 w random %}" rel="stylesheet">
		<title>{%block title%}{%endblock%}</title>
        <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
        <script>

                $(document).ready(function(){
                    //Скрыть PopUp при загрузке страницы
                    PopUpHide();
                    PopUpHide2();
                });
                //Функция отображения PopUp
                function PopUpShow(id_){
                    $("#popup1").show();
                }
                //Функция скрытия PopUp
                function PopUpHide(){
                    $("#popup1").hide();
                }
                function PopUpShow2(){
                    $("#popup2").show();
                }
                //Функция скрытия PopUp
                function PopUpHide2(){
                    $("#popup2").hide();
                }
                //Функция скрытия PopUp
                function PopUpHide3(){
                    $("#new_challenge").hide();
                }
                function showprofile(id_){
                    $("#" + id_).css({"display":"none"})
                    $("#" + id_ +"_profile").css({"display":"block"})
                }
                function hideprofile(id_){
                    $("#" + id_ +"_profile").css({"display":"none"})
                    $("#" + id_).css({"display":"block"})
                }
        </script>
        <script src="{% static 'base/base.js'%}?{% lorem 1 w random %}" defer></script>
        {% block script %}
        {% endblock %}
	</head>
	<body>
        {%block container%}
		<div id="container">
            {% block head %}
            <div id = "head">
                <div class="b-popup" id="popup1">
                    <div id="mains" class="blocks">
                        <div id="profile_block_img">
                            <img src="{{profile.profile_img.url}}">
                            <span>{{profile.name}} {{profile.surname}}</span>
                        </div>
                        <div id="profile_block_statistic">
                            <div class="flex_row">
                                <img src="https://image.freepik.com/free-icon/no-translate-detected_318-37158.jpg"/>
                                <img src="https://image.freepik.com/free-icon/no-translate-detected_318-52486.jpg"/>
                                <img src="https://image.freepik.com/free-icon/no-translate-detected_318-33583.jpg"/>
                            </div>
                            <div class="flex_row">
                                <div>{{profile.stars}}</div>
                                <div>12</div>
                                <div>{{profile.follow_him.count}}</div>
                            </div>
                        </div>
                    </div>
                    <div id="settings" class="blocks">
                        <div id="changepasswordbutton" class="popup1Settings " style="">Поменять пароль</div>
                        <div id="changeNameAndSurname" class="popup1Settings" style=""> Поменять имя и фамилию</div>
                        <div id="changeFoto" class="popup1Settings" style="">Поменять фото</div>
                    </div>
                    <div id="changepasswordblock" class="blocks">
                        <form method="post" id="changepasswordform" autocomplete="off" action="{% url 'new_password' %}" enctype="application/x-www-form-urlencoded">
                            {% csrf_token %}
                            {% for password_field in change_password %}
                                {{ password_field }}
                            {% endfor %}
                            <label id="submitpassword"><input type="submit" name="Отправить." style="display: none">Отправить</label>
                        </form>
                    </div>
                    <div id="profile_block_bottom_panel_quard">
                        <a id="exit" href="{% url 'exit' %}">Выйти</a>
                        <a class="settings_symbol"></a>
                    </div>
                </div>

				<a class="btn" href="{% url 'all_news'%}"><p class="pb">Новости</p></a>
				<a class="btn" href="{% url 'empty_dialog'%}"><p class="pb">Сообщения</p></a>
				<a class="btn" href="{% url 'follow_me'%}"><p class="pb">Подписчики</p></a>
				{% block plus %}
				{% endblock %}
                {% block mansign %}
                    <img src="https://image.freepik.com/free-icon/no-translate-detected_318-33925.jpg" id="ManSign" class="head_signs"/>
                {% endblock %}
            </div>
            {% endblock %}

            {% block main%}
            {% endblock %}

            {%block navigation %}
            {% endblock %}
		</div>
        {%endblock%}
	</body>
</html>