{% extends 'bases/base1.html' %}

{%block title%}Messages{%endblock%}
{% block script%}
    {% load static%}
    <script>
        var messageUrl = "{% url 'dialog' his_profile.id%}";
        var userId = {{ his_profile.id }};
        var count = {{ count }};
        var checkUrl = "{% url 'check_message' %}";
    </script>
    <script src="{%  static 'news/message/mes.js' %}" defer></script>
{% endblock %}
{% block main%}
    <div id="main">
        <div id="dialog">
            <div id="top_panel">
                <p>{{his_profile.name}}</p><img src="{{his_profile.profile_img.url}}"/>
            </div>

            <div id="dialog_window">
                {% for message in dialog %}
                    {% if message.sender.user.username == his_profile.user.username %}
                        <div class="messages_of_opponent">{{message.text}}</div>
                    {% endif %}
                    {% if message.sender.user.username == profile.user.username %}
                        <div class="your_messages">{{message.text}}</div>
                    {% endif %}
                {% endfor %}
                <div style="padding:4px;"></div>
            </div>

            <div id="bottom_panel">
                <form name="mes_form" action="{% url 'dialog' his_profile.id%}" method="POST">
                    {% csrf_token %}
                    {{form.message}}
                    {{form.message.errors}}
                    <input type="submit" value="Отпр." id="send_button" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{%block navigation %}
<div id = "navigation">
    {% for user in users%}
        <a href="{% url 'dialog' user.id %}" class="dialogs"><img src="{{user.profile_img.url}}"/><p>{{user.name}} {{user.surname}}</p></a>
    {% endfor %}
</div>
{% endblock %}