{% extends 'bases/base1.html' %}

{%block title%}Subscriptions{%endblock%}

{% block main%}
    <div id="followers_main">
        <div id="followers_top_panel"><p> Мои подписки </p></div>
        {%if follow_left%}
        <div id="left_side" class="follower_sides">
            {% for follow in follow_left %}
                <div class="followers_div">
                    <img class="followers_img" src="{{follow.profile_img.url}}"/>
                    <p>{{follow.name}} {{follow.surname}}</p>
                    <p style="margin:5px;"> x</p>
                </div>
            {% endfor %}
        </div>
        <div id="right_side" class="follower_sides">
            {% for follow in follow_right %}
                <div class="followers_div">
                    <img class="followers_img" src="{{follow.profile_img.url}}"/>
                    <p>{{follow.name}} {{follow.surname}}</p>
                    <p style="margin:5px;"> x</p>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <p style="width: 100%;height:100%;text-align:center;vertical-align: center;">Здесь пока никого нет</p>
        {% endif %}
    </div>
{% endblock %}

{%block navigation %}
<div id = "navigation">
    <a class="sections" href="{% url 'follow_me' %}"><p>Входящие</p></a>
    <a class="sections" href="{% url 'follow_i' %}"><p>Исходящие</p></a>
</div>
{% endblock %}