<!DOCTYPE html>
<html>
    {% load static %}
	<head>
		<title>Login</title>
        <link href="{% static 'style.css'%}" rel="stylesheet">
	</head>
	<body>
		<div id="login_block">
            <p id="login_p">Мотиватор</p>
            <form action="{% url 'reg'%}" method="POST">
                {% csrf_token %}
                <!--<input class="login_input" placeholder="Введите имя"/>
                <input class="login_input" placeholder="Введите Фамилию"/>
                <input class="login_input" placeholder="Введите email"/>
                <input class="login_input" type="password" placeholder="Введите пароль"/>
                -->
                {% for field in form %}
                <div class="form_fields_div">
                    {{ field.errors }}
                    {{field.label_tag}}
                    {{field}}
                </div>
                {% endfor %}
                <div>
                    <input type="submit" value="Submit" id="registration_button" />
                </div>
            </form>
        </div>
	</body>
</html>